
.containerButton,
.album{
  position: relative;
  @include TamanhoBordas($b-radius: 3%);
  @include TamanhoObjeto(50vh, 50vh);
  @include TamanhoMargin(2.5vw,2.5vw,2.5vw,2.5vw);
}

.album{
    background: $snowShadow;
    cursor: pointer;
}



.button{
  $a:TextoResponsivo(50,80);
  cursor: pointer;
  @include CentralizarElemento(absolute);
  @include TamanhoObjeto($a, $a);
  @include TamanhoBordas(.5vh,.5vh,.5vh,.5vh,100%);
  left: 10vw;
  color: $softGray;
  background-color: $snowGray;
    &:hover{
      transition: color .4s,border .4s, background-color .7s;
      border-color: $softGreen;
      background-color: $softGreen;
      color: $darkGray;
    }
}



.preloader {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: #fff;
  background-color: #4684ee;
  font-family: Consolas, Menlo, Monaco, monospace;
  font-weight: bold;
  font-size: 30vh;
  z-index: 1099;
}

.preloader span {
  display: inline-block;
  opacity: 0.8;
  animation: pulse 0.4s alternate infinite ease-in-out;
}
.preloader span:nth-child(odd) {
  animation-delay: 0.4s;
  z-index: 1100;
}

@keyframes pulse {
  to {
    transform: scale(0.8);
    opacity: 0.5;
  }
}

.preloader.hidden {
  animation: fadeOut 1s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
