
.containerButton,
.album{
  position: relative;
  @include TamanhoBordas($b-radius: 3%);
  @include TamanhoObjeto(50vh, 50vh);
  @include TamanhoMargin(2.5vw,2.5vw,2.5vw,2.5vw);
}

.album{
    background: $snowShadow;
    cursor: pointer;
}

.alertSucesso,
.alertErro,
.alertAtencao{
  position: absolute;
  height: 5vw;
  width: 100%;
  text-align: center;
  z-index: 99999;
  p{
    @include fluidType(320px, 1600px, 15px, 30px);
    color: $softCloud;
    @include CentralizarElemento(relative);
  }
}

.alertSucesso{
  background-color: $softGreen;
}
.alertErro{
  background-color: $alertRed;
}
.alertAtencao{
  background-color: $alertOrange;
}

.button{
  $a:TextoResponsivo(50,80);
  cursor: pointer;
  @include CentralizarElemento(absolute);
  @include TamanhoObjeto($a, $a);
  @include TamanhoBordas(.5vh,.5vh,.5vh,.5vh,100%);
  color: $softGray;
  background-color: $snowGray;
    &:hover{
      transition: color .4s,border .4s, background-color .7s;
      border-color: $softGreen;
      background-color: $softGreen;
      color: $darkGray;
    }
}
.deleteButton{
  $a:TextoResponsivo(50,80);
  cursor: pointer;
  @include CentralizarElemento(absolute);
  @include TamanhoObjeto($a, $a);
  @include TamanhoBordas(.5vh,.5vh,.5vh,.5vh,100%);
  background-color: $alertRed;
  color: $darkGray;
  &:hover{
    transition: color .4s,border .4s, background-color .7s;
    border-color: $darkGray;
    background-color: $darkGray;
    color: $softGray;
  }
}
