// pré Colors //
$softCloud : #f5f5f5;
$softGray : #9a9a9a;
$darkGray : #464646;
$softBlack : #393939;
$mediumBlack : #242424;
$darkerBlack : #1b1b1b;
$softGreen : #2ecc71;

//cor do site
$snowCloud : #F5F6F8;
$snowGray : #F1F1F1;
$snowShadow : #E4E4E4;
$grayedCloud : #B9B9B9;
$grayedCloudDarker : #999999;
$graish : #555356;
$mediumGray : #323232;


// Cores expecificas //
$backgroundColor : $softCloud;
$textColor : $softBlack;

$backgroundRadial : radial-gradient( $softBlack 15% , $darkerBlack 85%);
