@import 'headerBar.scss';

$break-small: 320px;
$break-large: 1024px;

@mixin respond-to($media) {
  @if $media == little-screens {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $break-large) { @content; }
  }
}

.albumEditar{
  position: relative;
  border-radius: 10px;
  height: 400px;
  width: 100%;
}

body{
  height: 100%;
}

header{

  div:nth-of-type(4){
    a{
      color: $darkGray;
    }
  }
}

main{
  position: relative;
  top: 25vh;
  height: 100%;
    section[class=container]{
      margin: 3vw;
      display: grid;
      row-gap: 5rem;
      column-gap: 1rem;
      grid-template-rows: auto 1fr;
      grid-template-columns: repeat(auto-fill, minmax(TextoResponsivo(150,400), 1fr));
      justify-items: center;
      @include respond-to(little-screens) { grid-template-columns: repeat(auto-fill, minmax(TextoResponsivo(350,600), 1fr)); }
      @include respond-to(medium-screens) { grid-template-columns: repeat(auto-fill, minmax(TextoResponsivo(300,600), 1fr)); }
      @include respond-to(wide-screens) { grid-template-columns: repeat(auto-fill, minmax(TextoResponsivo(120,340), 1fr)); }
          a[class="deleteButton"]{
            position: absolute;
            z-index: 999;
            top: 0;

            span{
              font-size: TamanhoResponsivo(10, 1.5);
              @include CentralizarElemento(absolute);
              font-weight: bold;
            }
          }
        }
    }

    div[class=button]{
      position: relative;
      text-align: center;
      font-size: TamanhoResponsivo(30, 4.5);
      span{
        @include CentralizarElemento(absolute);
        top: 46%;
      }
    }


footer{
  height: 70vh;
}
