@import 'mainSass.scss';

.underline-from-center {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background-image: radial-gradient(circle, $softGray,$softCloud );
    height: 4px;
    -webkit-transition-property: left right;
    transition-property: left right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  &:hover:before {
    left: 0;
    right: 0;
  }
}

.blockOfWidth{
  width: 15%;
}

.boxHeader{
  @include fluidType(320px, 1600px, 20px, 25px);
  position: relative;
  height: 100%;
  width: 25%;
  text-align: center;
  a{
    @include CentralizarElemento(absolute);
    width: 100%;
  }
}

.boxMenor{
  width: 16.5%;
}
header{
  display: flex;
  flex-direction: row;
  height: 6.5rem;
 width: 100%;
 box-shadow: 2px -3px 10px $grayedCloud;
 a{
   position: relative;
   left: 2.5vw;
   &:hover{
     transition: color 1s;
     color: $mediumGray;
   }
   &:focus{
     outline: 1px dashed $grayedCloud;
   }
  }
}
