@import 'mainSass.scss';


body,
ul{
  @include SemEspacoExtra;
}

div.logo,
section.conteudo{
  position: absolute;
}

main{
  a{
    position: absolute;
    display: inline-block;
    color: $grayedCloud;
    text-decoration: none;
    margin: 1rem;

      &:active,
      &:hover{
        transition: color .5s;
        color: $softBlack;
      }

      &[id=portifolio]{
        right: 0;
        top: 0;
        font-size: TamanhoResponsivo(10,1);
      }

      &[id=contato]{
        bottom: 0;
        font-size: TamanhoResponsivo(10,1);
      }

      &[id=sobre]{
        bottom: 0;
        right: 0;
        font-size: TamanhoResponsivo(10,1);
      }
  }

}

section.container{
  position: relative;
  overflow-x: hidden;
  height: 100vh;
  background: $snowCloud;

  div.logo{
    @include BoxImagem('../img/logo.png', no-repeat, contain);
    @include TamanhoObjeto(10vh, 10vh);
    @include TamanhoEspaco(1rem,0,0,1rem);
  }

  section.containerImagem{
    @include CentralizarElemento(absolute);
    @include TamanhoObjeto(40vw, 70vh);
    @include BoxImagem('../img/img1.jpg', no-repeat, contain);
    filter: grayscale(100%);
    left: 55vw;
    &:hover{
      transition: filter 1s;
      filter: grayscale(0%);
    }
      p{
        position: relative;
        font-size: TamanhoResponsivo(8, .7);
        color: $softCloud;
        @include TamanhoObjeto(25vw, auto);
        @include TamanhoEspaco(33vh,0,0,-30vw);
      }

  }

  section.conteudo{
    @include TamanhoEspaco(40vh,0,0,-20vw);
    width: 200vw;
    ul{
      display: inline-flex;
      list-style: none;
      color: $grayedCloud;
      font-size: TamanhoResponsivo(10, 2);

        li{
          padding-left: 1.5rem;
      }
      li[id=album2]{
        @include ObjetoSelecionado();
      }
    }
  }
}


.noise {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    pointer-events: none;
    opacity: .05;
}
