@import 'headerBar.scss';

header{
  div{
    a{
      span{
        position: relative;
        top: -8px;
      }
    }
  }
}

main{
  overflow: hidden;
  display: flex;
  flex-direction: column;

}
footer{
  height: 25vh;
}
