.containerButton,
.album {
  position: relative;
  border-radius: 3%;
  height: 50vh;
  width: 50vh;
  margin-top: 2.5vw;
  margin-right: 2.5vw;
  margin-bottom: 2.5vw;
  margin-left: 2.5vw;
}

.album {
  background: #E4E4E4;
  cursor: pointer;
}

.alertSucesso,
.alertErro,
.alertAtencao {
  position: absolute;
  height: 5vw;
  width: 100%;
  text-align: center;
  z-index: 99999;
}
.alertSucesso p,
.alertErro p,
.alertAtencao p {
  color: #f5f5f5;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.alertSucesso p,
.alertErro p,
.alertAtencao p {
  font-size: 15px;
}
@media screen and (min-width: 320px) {
  .alertSucesso p,
.alertErro p,
.alertAtencao p {
    font-size: calc(15px + 15 * ((100vw - 320px) / 1280));
  }
}
@media screen and (min-width: 1600px) {
  .alertSucesso p,
.alertErro p,
.alertAtencao p {
    font-size: 30px;
  }
}

.alertSucesso {
  background-color: #2ecc71;
}

.alertErro {
  background-color: #d63031;
}

.alertAtencao {
  background-color: #dfaa44;
}

.button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: calc(50px + (80 - 50) * ((100vw - 300px) / (1600 - 300)));
  width: calc(50px + (80 - 50) * ((100vw - 300px) / (1600 - 300)));
  border-top: 0.5vh;
  border-right: 0.5vh;
  border-bottom: 0.5vh;
  border-left: 0.5vh;
  border-radius: 100%;
  color: #9a9a9a;
  background-color: #F1F1F1;
}
.button:hover {
  transition: color 0.4s, border 0.4s, background-color 0.7s;
  border-color: #2ecc71;
  background-color: #2ecc71;
  color: #464646;
}

.deleteButton {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: calc(50px + (80 - 50) * ((100vw - 300px) / (1600 - 300)));
  width: calc(50px + (80 - 50) * ((100vw - 300px) / (1600 - 300)));
  border-top: 0.5vh;
  border-right: 0.5vh;
  border-bottom: 0.5vh;
  border-left: 0.5vh;
  border-radius: 100%;
  background-color: #d63031;
  color: #464646;
}
.deleteButton:hover {
  transition: color 0.4s, border 0.4s, background-color 0.7s;
  border-color: #464646;
  background-color: #464646;
  color: #9a9a9a;
}

@font-face {
  font-family: "Lato Black";
  src: url("../fonts/Lato/Lato-Black.ttf");
}
@font-face {
  font-family: "Lato Light";
  src: url("../fonts/Lato/Lato-Light.ttf");
}
a,
a:active,
a:visited,
input:focus {
  color: #B9B9B9;
  text-decoration: none;
  outline: none;
}

html {
  background-color: #F5F6F8;
  font-family: "Lato Light";
  scrollbar-color: #9a9a9a #464646;
}

body,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #B9B9B9;
  padding: 0;
  margin: 0;
}

body {
  color: #f5f5f5;
}

input {
  background: transparent;
  width: 80vw;
  font-size: ResponsiveText(20, 40);
  border: none;
  overflow: hidden;
  font-weight: lighter;
}
input input::placeholder {
  color: #ffffffa9;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f5f5f5;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #B9B9B9;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555356;
}

div[id=voltar] {
  cursor: pointer;
  left: 1vw;
  position: relative;
  border-radius: 100%;
  text-align: center;
  display: inline-block;
  background-color: #F1F1F1;
  top: 1vw;
  color: #242424;
  width: 80px;
  height: 80px;
  position: absolute;
}
div[id=voltar] {
  font-size: 80px;
}
@media screen and (min-width: 320px) {
  div[id=voltar] {
    font-size: calc(80px + 5 * ((100vw - 320px) / 1180));
  }
}
@media screen and (min-width: 1500px) {
  div[id=voltar] {
    font-size: 85px;
  }
}
div[id=voltar]:hover {
  transition: background-color 500ms;
  background-color: #E4E4E4;
}
div[id=voltar] a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 47%;
}

.noise {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  opacity: 0.05;
}

header {
  position: relative;
  height: auto;
  margin-bottom: 25vw;
  display: flex;
  flex-direction: column;
}
header div[id=containerInfoAlbum] {
  margin-top: 5.5vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
header div[id=containerInfoAlbum] h1 {
  position: relative;
  right: 8.5vw;
  margin-bottom: 2.5vw;
}
header div[id=containerInfoAlbum] h1 {
  font-size: 55px;
}
@media screen and (min-width: 300px) {
  header div[id=containerInfoAlbum] h1 {
    font-size: calc(55px + 95 * ((100vw - 300px) / 1800));
  }
}
@media screen and (min-width: 2100px) {
  header div[id=containerInfoAlbum] h1 {
    font-size: 150px;
  }
}
header div[id=containerInfoAlbum] p {
  text-align: right;
  position: relative;
  right: 8rem;
  width: 60vw;
}
header div[id=containerInfoAlbum] p {
  font-size: 12px;
}
@media screen and (min-width: 300px) {
  header div[id=containerInfoAlbum] p {
    font-size: calc(12px + 23 * ((100vw - 300px) / 1800));
  }
}
@media screen and (min-width: 2100px) {
  header div[id=containerInfoAlbum] p {
    font-size: 35px;
  }
}

main {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  justify-content: space-around;
}
main img {
  margin: 2.5rem;
  filter: grayscale(100%);
  max-width: 90vw;
}
main img p {
  margin: 5vw;
  text-align: justify;
  width: 80%;
}

footer {
  overflow: hidden;
  position: relative;
  height: 20vw;
}
footer a {
  width: 85%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 30vw;
  margin: auto;
  display: inline-block;
}
footer a {
  font-size: 30px;
}
@media screen and (min-width: 320px) {
  footer a {
    font-size: calc(30px + 160 * ((100vw - 320px) / 1180));
  }
}
@media screen and (min-width: 1500px) {
  footer a {
    font-size: 190px;
  }
}

/*# sourceMappingURL=album.css.map */
