.containerButton,
.album {
  position: relative;
  border-radius: 3%;
  height: 50vh;
  width: 50vh;
  margin-top: 2.5vw;
  margin-right: 2.5vw;
  margin-bottom: 2.5vw;
  margin-left: 2.5vw;
}

.album {
  background: #E4E4E4;
  cursor: pointer;
}

.button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: calc(50px + (80 - 50) * ((100vw - 300px) / (1600 - 300)));
  width: calc(50px + (80 - 50) * ((100vw - 300px) / (1600 - 300)));
  border-top: 0.5vh;
  border-right: 0.5vh;
  border-bottom: 0.5vh;
  border-left: 0.5vh;
  border-radius: 100%;
  color: #9a9a9a;
  background-color: #F1F1F1;
}
.button:hover {
  transition: color 0.4s, border 0.4s, background-color 0.7s;
  border-color: #2ecc71;
  background-color: #2ecc71;
  color: #464646;
}

.deleteButton {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: calc(50px + (80 - 50) * ((100vw - 300px) / (1600 - 300)));
  width: calc(50px + (80 - 50) * ((100vw - 300px) / (1600 - 300)));
  border-top: 0.5vh;
  border-right: 0.5vh;
  border-bottom: 0.5vh;
  border-left: 0.5vh;
  border-radius: 100%;
  background-color: #d63031;
  color: #464646;
}
.deleteButton:hover {
  transition: color 0.4s, border 0.4s, background-color 0.7s;
  border-color: #464646;
  background-color: #464646;
  color: #9a9a9a;
}

@font-face {
  font-family: "Lato Black";
  src: url("../fonts/Lato/Lato-Black.ttf");
}
@font-face {
  font-family: "Lato Light";
  src: url("../fonts/Lato/Lato-Light.ttf");
}
a,
a:active,
a:visited,
input:focus {
  color: #B9B9B9;
  text-decoration: none;
  outline: none;
}

html {
  background-color: #F5F6F8;
  font-family: "Lato Light";
  scrollbar-color: #9a9a9a #464646;
}

body,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #B9B9B9;
  padding: 0;
  margin: 0;
}

body {
  color: #f5f5f5;
}

input {
  background: transparent;
  width: 80vw;
  font-size: ResponsiveText(20, 40);
  border: none;
  overflow: hidden;
  font-weight: lighter;
}
input input::placeholder {
  color: #ffffffa9;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f5f5f5;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #B9B9B9;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555356;
}

div[id=voltar] {
  cursor: pointer;
  left: 1vw;
  position: relative;
  border-radius: 100%;
  text-align: center;
  display: inline-block;
  background-color: #F1F1F1;
  top: 1vw;
  color: #242424;
  width: 80px;
  height: 80px;
  position: absolute;
}
div[id=voltar] {
  font-size: 80px;
}
@media screen and (min-width: 320px) {
  div[id=voltar] {
    font-size: calc(80px + 5 * ((100vw - 320px) / 1180));
  }
}
@media screen and (min-width: 1500px) {
  div[id=voltar] {
    font-size: 85px;
  }
}
div[id=voltar]:hover {
  transition: background-color 500ms;
  background-color: #E4E4E4;
}
div[id=voltar] a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 47%;
}

.noise {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  opacity: 0.05;
}

.underline-from-center {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background-image: radial-gradient(circle, #9a9a9a, #f5f5f5);
  height: 4px;
  -webkit-transition-property: left right;
  transition-property: left right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.underline-from-center:hover:before {
  left: 0;
  right: 0;
}

.blockOfWidth {
  width: 15%;
}

.boxHeader {
  position: relative;
  height: 100%;
  width: 25%;
  text-align: center;
}
.boxHeader {
  font-size: 20px;
}
@media screen and (min-width: 320px) {
  .boxHeader {
    font-size: calc(20px + 5 * ((100vw - 320px) / 1280));
  }
}
@media screen and (min-width: 1600px) {
  .boxHeader {
    font-size: 25px;
  }
}
.boxHeader a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.boxMenor {
  width: 16.5%;
}

header {
  display: flex;
  flex-direction: row;
  height: 6.5rem;
  width: 100%;
  box-shadow: 2px -3px 10px #B9B9B9;
}
header a {
  position: relative;
  left: 2.5vw;
}
header a:hover {
  transition: color 1s;
  color: #323232;
}
header a:focus {
  outline: 1px dashed #B9B9B9;
}

.albumSelecionado {
  height: 400px;
  width: 100%;
}

.sumirInput {
  width: auto;
  position: absolute;
  z-index: -999;
  height: 0.1px;
  width: 0.1px;
  opacity: 0;
}

.sendSelecionados {
  height: 400px;
  display: inline-block;
  width: 100%;
  cursor: pointer;
  color: #464646;
  height: 5vw;
  text-align: center;
  justify-self: center;
}
.sendSelecionados {
  font-size: 25px;
}
@media screen and (min-width: 320px) {
  .sendSelecionados {
    font-size: calc(25px + 15 * ((100vw - 320px) / 2280));
  }
}
@media screen and (min-width: 2600px) {
  .sendSelecionados {
    font-size: 40px;
  }
}

.albunsSelecionadoButton {
  margin-top: 10vw;
  display: inline-block;
  width: 100%;
  cursor: pointer;
  color: #464646;
  height: 5vw;
  text-align: center;
  background: #555356;
  filter: grayscale(0);
  position: absolute;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: calc(50px + (80 - 50) * ((100vw - 300px) / (1600 - 300)));
  width: calc(50px + (80 - 50) * ((100vw - 300px) / (1600 - 300)));
  border-top: 0.5vh;
  border-right: 0.5vh;
  border-bottom: 0.5vh;
  border-left: 0.5vh;
  border-radius: 100%;
}
.albunsSelecionadoButton {
  font-size: 25px;
}
@media screen and (min-width: 320px) {
  .albunsSelecionadoButton {
    font-size: calc(25px + 15 * ((100vw - 320px) / 2280));
  }
}
@media screen and (min-width: 2600px) {
  .albunsSelecionadoButton {
    font-size: 40px;
  }
}

header div:nth-of-type(3) a {
  color: #464646;
}

main {
  overflow: hidden;
}
main form {
  width: 99vw;
}
main form section:nth-of-type(1) {
  margin: 3vw;
  display: grid;
  row-gap: 1rem;
  column-gap: 1rem;
  grid-template-rows: auto 1fr;
  grid-template-columns: repeat(auto-fill, minmax(calc(150px + (400 - 150) * ((100vw - 300px) / (1600 - 300))), 1fr));
  justify-items: center;
}
@media only screen and (max-width: 320px) {
  main form section:nth-of-type(1) {
    grid-template-columns: repeat(auto-fill, minmax(calc(350px + (600 - 350) * ((100vw - 300px) / (1600 - 300))), 1fr));
  }
}
@media only screen and (min-width: 321px) and (max-width: 1023px) {
  main form section:nth-of-type(1) {
    grid-template-columns: repeat(auto-fill, minmax(calc(300px + (600 - 300) * ((100vw - 300px) / (1600 - 300))), 1fr));
  }
}
@media only screen and (min-width: 1024px) {
  main form section:nth-of-type(1) {
    grid-template-columns: repeat(auto-fill, minmax(calc(120px + (340 - 120) * ((100vw - 300px) / (1600 - 300))), 1fr));
  }
}
main form section:nth-of-type(1) a div {
  position: relative;
  border-radius: 10px;
}
main form section:nth-of-type(1) a div label span {
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main form section:nth-of-type(1) a div label span {
  font-size: 25px;
}
@media screen and (min-width: 320px) {
  main form section:nth-of-type(1) a div label span {
    font-size: calc(25px + 10 * ((100vw - 320px) / 2280));
  }
}
@media screen and (min-width: 2600px) {
  main form section:nth-of-type(1) a div label span {
    font-size: 35px;
  }
}
footer {
  height: 5vw;
}

/*# sourceMappingURL=editarSelecionados.css.map */
