.containerButton,
.album {
  position: relative;
  border-radius: 3%;
  height: 50vh;
  width: 50vh;
  margin-top: 2.5vw;
  margin-right: 2.5vw;
  margin-bottom: 2.5vw;
  margin-left: 2.5vw;
}

.album {
  background: #E4E4E4;
  cursor: pointer;
}

.button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: calc(50px + (80 - 50) * ((100vw - 300px) / (1600 - 300)));
  width: calc(50px + (80 - 50) * ((100vw - 300px) / (1600 - 300)));
  border-top: 0.5vh;
  border-right: 0.5vh;
  border-bottom: 0.5vh;
  border-left: 0.5vh;
  border-radius: 100%;
  left: 10vw;
  color: #9a9a9a;
  background-color: #F1F1F1;
}
.button:hover {
  transition: color 0.4s, border 0.4s, background-color 0.7s;
  border-color: #2ecc71;
  background-color: #2ecc71;
  color: #464646;
}

@font-face {
  font-family: "Lato Black";
  src: url("../fonts/Lato/Lato-Black.ttf");
}
@font-face {
  font-family: "Lato Light";
  src: url("../fonts/Lato/Lato-Light.ttf");
}
a,
a:active,
a:visited,
input:focus {
  color: #B9B9B9;
  text-decoration: none;
  outline: none;
}

html {
  background-color: #F5F6F8;
  font-family: "Lato Light";
  scrollbar-color: #9a9a9a #464646;
}

body,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #B9B9B9;
  padding: 0;
  margin: 0;
}

body {
  color: #f5f5f5;
}

input {
  background: transparent;
  width: 80vw;
  font-size: ResponsiveText(20, 40);
  border: none;
  overflow: hidden;
  font-weight: lighter;
}
input input::placeholder {
  color: #ffffffa9;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f5f5f5;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #B9B9B9;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555356;
}

div[id=voltar] {
  cursor: pointer;
  left: 1vw;
  position: relative;
  border-radius: 100%;
  text-align: center;
  display: inline-block;
  background-color: #F1F1F1;
  top: 1vw;
  color: #242424;
  width: calc(50px + (80 - 50) * ((100vw - 300px) / (1600 - 300)));
  height: calc(50px + (80 - 50) * ((100vw - 300px) / (1600 - 300)));
}
div[id=voltar] {
  font-size: 80px;
}
@media screen and (min-width: 320px) {
  div[id=voltar] {
    font-size: calc(80px + 5 * ((100vw - 320px) / 1180));
  }
}
@media screen and (min-width: 1500px) {
  div[id=voltar] {
    font-size: 85px;
  }
}
div[id=voltar]:hover {
  transition: background-color 500ms;
  background-color: #E4E4E4;
}
div[id=voltar] a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 47%;
}

.noise {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  opacity: 0.05;
}

body,
ul {
  padding: 0;
  margin: 0;
}

div.logo,
section.conteudo {
  position: absolute;
}

main a {
  position: absolute;
  display: inline-block;
  color: #393939;
  text-decoration: none;
  margin: 1rem;
}
main a:active, main a:hover, main a:focus {
  transition: color 0.5s, background-color 1s;
  color: #f5f5f5;
  background-color: #1b1b1b;
}
main a[id=portifolio] {
  right: 0;
  top: 0;
  font-size: calc(10px + 1vw);
}
main a[id=contato] {
  bottom: 0;
  font-size: calc(10px + 1vw);
}
main a[id=sobre] {
  top: 5vh;
  right: 0;
  font-size: calc(10px + 1vw);
}

section.container {
  position: relative;
  overflow-x: hidden;
  height: 100vh;
  background: #F5F6F8;
}
section.container div.logo {
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 10vh;
  width: 10vh;
  top: 1rem;
  right: 0;
  bottom: 0;
  left: 1rem;
}
section.container section.containerImagem {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 70vh;
  width: 40vw;
  background-image: url("../img/img1.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  filter: grayscale(100%);
  left: 55vw;
}
section.container section.containerImagem:hover {
  transition: filter 1s;
  filter: grayscale(0%);
}
section.container section.containerImagem p {
  position: relative;
  font-size: calc(8px + 0.7vw);
  color: #f5f5f5;
  height: auto;
  width: 25vw;
  top: 33vh;
  right: 0;
  bottom: 0;
  left: -30vw;
}
section.container section.conteudo {
  top: 40vh;
  right: 0;
  bottom: 0;
  left: -20vw;
  width: 200vw;
}
section.container section.conteudo ul {
  display: inline-flex;
  list-style: none;
  color: #B9B9B9;
  font-size: calc(10px + 2vw);
}
section.container section.conteudo ul li {
  padding-left: 1.5rem;
}
section.container section.conteudo ul li[id=album2] {
  cursor: pointer;
  position: relative;
  top: -50px;
  font-weight: bold;
  font-size: calc(50px + 4vw);
  -moz-text-fill-color: #F5F6F8;
  -webkit-text-fill-color: #F5F6F8;
  -moz-text-stroke-color: #666;
  -webkit-text-stroke-color: #666;
  -moz-text-stroke-width: 1px;
  -webkit-text-stroke-width: 1px;
}

/*# sourceMappingURL=index.css.map */
