.containerButton,
.album {
  position: relative;
  border-radius: 3%;
  height: 50vh;
  width: 50vh;
  margin-top: 2.5vw;
  margin-right: 2.5vw;
  margin-bottom: 2.5vw;
  margin-left: 2.5vw;
}

.album {
  background: #464646;
  cursor: pointer;
}

.button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 12.5vh;
  width: 12.5vh;
  border-top: 0.5vh;
  border-right: 0.5vh;
  border-bottom: 0.5vh;
  border-left: 0.5vh;
  border-radius: 100%;
  left: 5vw;
  color: #f5f5f5;
}
.button:hover {
  transition: color 0.4s, border 0.4s, background-color 0.7s;
  border-color: #2ecc71;
  background-color: #2ecc71;
  color: #464646;
}

@font-face {
  font-family: "Lato Black";
  src: url("../fonts/Lato/Lato-Black.ttf");
}
@font-face {
  font-family: "Lato Light";
  src: url("../fonts/Lato/Lato-Light.ttf");
}
a,
a:active,
a:visited,
input:focus {
  color: #B9B9B9;
  text-decoration: none;
  outline: none;
}

html {
  background-color: #F5F6F8;
  font-family: "Lato Light";
  scrollbar-color: #9a9a9a #464646;
}

body,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #B9B9B9;
  padding: 0;
  margin: 0;
}

body {
  color: #f5f5f5;
}

input {
  background: transparent;
  width: 80vw;
  font-size: ResponsiveText(20, 40);
  border: none;
  overflow: hidden;
  font-weight: lighter;
}
input input::placeholder {
  color: #ffffffa9;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #464646;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html {
  font-size: 13px;
}
html body {
  color: #555356;
}
html body *::placeholder {
  color: #B9B9B9;
}

header {
  padding: 0;
  margin: 0;
  position: relative;
  height: 10vw;
}
header div[class=container] {
  position: relative;
  top: 2.5vh;
  display: flex;
  justify-content: flex-start;
}
header div[class=container] div[id=voltar] {
  cursor: pointer;
  left: 1vw;
  position: relative;
  border-radius: 100%;
  text-align: center;
  display: inline-block;
  background-color: #F1F1F1;
  top: 1vw;
  color: #242424;
  width: calc(30px + (60 - 30) * ((100vw - 300px) / (1600 - 300)));
  height: calc(30px + (60 - 30) * ((100vw - 300px) / (1600 - 300)));
  font-size: calc(30px + (60 - 30) * ((100vw - 300px) / (1600 - 300)));
}
header div[class=container] div[id=voltar]:hover {
  transition: background-color 500ms;
  background-color: #E4E4E4;
}
header div[class=container] div[id=voltar] a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 47%;
}
header h1 {
  display: inline-block;
  position: relative;
  left: 2.5vw;
  font-size: calc(50px + (70 - 50) * ((100vw - 300px) / (1600 - 300)));
  cursor: default;
  font-weight: 100;
}
@media (min-width: 769px) and (max-width: 1023px) {
  header h1 {
    font-size: calc(40px + (60 - 40) * ((100vw - 300px) / (1600 - 300)));
  }
  header div[id=voltar] {
    width: calc(40px + (60 - 40) * ((100vw - 300px) / (1600 - 300)));
    height: calc(40px + (60 - 40) * ((100vw - 300px) / (1600 - 300)));
    font-size: calc(40px + (60 - 40) * ((100vw - 300px) / (1600 - 300)));
  }
}
@media (min-width: 321px) and (max-width: 767px) {
  header h1 {
    font-size: calc(30px + (70 - 30) * ((100vw - 300px) / (1600 - 300)));
  }
  header div[id=voltar] {
    left: 3.2vw;
    position: relative;
    left: 6.5vw;
    top: 0.5vw;
    width: calc(30px + (70 - 30) * ((100vw - 300px) / (1600 - 300)));
    height: calc(30px + (70 - 30) * ((100vw - 300px) / (1600 - 300)));
    font-size: calc(30px + (70 - 30) * ((100vw - 300px) / (1600 - 300)));
  }
}
@media (max-width: 319px) {
  header h1 {
    font-size: calc(15px + (20 - 15) * ((100vw - 300px) / (1600 - 300)));
  }
}
@media (max-width: 320px) {
  header h1 {
    font-size: calc(15px + (20 - 15) * ((100vw - 300px) / (1600 - 300)));
    top: 2.5vw;
  }
}

main {
  clear: both;
  position: relative;
  top: 6vw;
  height: 250vh;
}
main section[class=container] {
  display: flex;
  flex-direction: column;
}
main section[class=container] input[id=nomeAlbum] {
  font-size: calc(20px + (80 - 20) * ((100vw - 300px) / (1600 - 300)));
  padding: 0;
  margin: 0;
  padding-left: 2vw;
  font-family: "Lato Light";
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  color: #9a9a9a;
}
main section[class=container] input[id=nomeAlbum]:focus {
  border-bottom: 1px solid #9a9a9a;
}
main section[class=container] section[class=sectionTags] {
  position: relative;
  top: 5.5vw;
  height: 20vh;
  display: flex;
  align-content: center;
  justify-content: center;
}
main section[class=container] section[class=sectionTags] label {
  margin-right: 1.5vw;
}
main section[class=container] section[class=sectionTags] label input {
  width: auto;
}
main section[class=container] textarea {
  position: relative;
  top: 10vh;
  resize: none;
  background: none;
  border: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  color: #9a9a9a;
  padding-left: 2vw;
  font-size: calc(15px + (50 - 15) * ((100vw - 300px) / (1600 - 300)));
}
main section[class=container] textarea:active, main section[class=container] textarea:focus {
  transition: border 0.3s;
  border: 1px dashed #393939;
}
main section[class=container] .box__dragndrop,
main section[class=container] .box__uploading,
main section[class=container] .box__success,
main section[class=container] .box__error {
  display: none;
}
main section[class=container] .boxFile {
  display: inline-block;
  position: relative;
  height: 80vh;
  width: 80vw;
  opacity: 0;
}
main section[class=container] .box.has-advanced-upload {
  position: relative;
  top: 15vh;
}
main section[class=container] .box.has-advanced-upload div[class=imagensContainer] {
  background-color: #E4E4E4;
  outline: 2px dashed #B9B9B9;
  outline-offset: -10px;
  height: 80vh;
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
  display: flex;
  box-shadow: 0px 70px 40px -50px rgba(0, 0, 0, 0.2), 0px 3px 20px rgba(0, 0, 0, 0.1);
}
@-moz-document url-prefix() {
  main section[class=container] .box.has-advanced-upload div[class=imagensContainer] {
    outline: none;
  }
}
main section[class=container] .box.has-advanced-upload div[class=imagensContainer] label {
  cursor: pointer;
  font-size: calc(10px + (18 - 10) * ((100vw - 300px) / (1600 - 300)));
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main section[class=container] .box.has-advanced-upload div[class=imagensContainer] div[class=box__input] {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main section[class=container] .box.has-advanced-upload .box__dragndrop {
  display: inline-block;
}
main section[class=container] .box.is-dragover div[class=imagensContainer] {
  transition: background-color 1s;
  background-color: #393939;
}
main section[class=container] div[class=box__input] {
  position: relative;
}
main section[class=container] .box.is-uploading .box__input {
  visibility: none;
  display: none;
}
main section[class=container] .box.is-uploading .box__uploading {
  display: block;
  z-index: 9999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (min-width: 321px) and (max-width: 767px) {
  main {
    top: 25vw;
  }
  main input[id=nomeAlbum] {
    font-size: calc(50px + (100 - 50) * ((100vw - 300px) / (1600 - 300))) !important;
  }
  main textarea {
    font-size: calc(30px + (100 - 30) * ((100vw - 300px) / (1600 - 300))) !important;
  }
}
@media (min-width: 769px) and (max-width: 1023px) {
  main input {
    font-size: calc(40px + (60 - 40) * ((100vw - 300px) / (1600 - 300)));
  }
}
@media (min-width: 321px) and (max-width: 767px) {
  main input {
    font-size: calc(30px + (60 - 30) * ((100vw - 300px) / (1600 - 300)));
  }
}

button[type=submit] {
  position: absolute;
  bottom: 2.5vw;
  right: 2.5vw;
  display: inline-block;
  background-color: transparent;
  border: none;
  color: #f5f5f5;
  font-size: calc(10px + (35 - 10) * ((100vw - 300px) / (1600 - 300)));
  cursor: pointer;
}

/*# sourceMappingURL=novoAlbum.css.map */
