
@mixin BackgroundTamanhoDaTela(){
  height: 100vh;
}

@mixin emConstrucao(){
  border: 1px solid #f00;
}

@mixin CentralizarElemento($position){
  position: $position;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin SemEspacoExtra(){
  $zero : 0;
  padding : $zero;
  margin : $zero;
}

@mixin TamanhoObjeto($horizontal, $vertical){
  height: $vertical;
  width: $horizontal;
}

@mixin TamanhoEspaco($top: null, $right: null, $bottom: null, $left: null, $position: null){
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  position: $position;
}


@mixin BoxImagem($url: null, $repeat: null, $size: null, $tipoDisplay: null){
  background-image: url($url);
  background-repeat: $repeat;
  background-size: $size;
  display: $tipoDisplay;
}


@mixin ObjetoSelecionado(){
  cursor: pointer;
  position: relative;
  top: -50px;
  font-weight: bold;
  font-size: TamanhoResponsivo(50, 4);
  -moz-text-fill-color: $snowCloud;
  -webkit-text-fill-color: $snowCloud;
     -moz-text-stroke-color: #666;
  -webkit-text-stroke-color: #666;
     -moz-text-stroke-width: 1px;
  -webkit-text-stroke-width: 1px;
}


@mixin SemDecoracao(){
  text-decoration: none;
  outline: none;
}

@mixin TamanhoBordas($b-top: null, $b-right: null, $b-bottom: null, $b-left: null, $b-radius: null,$b-total: null, $b-tipo:null, $b-cor: null){
  border-top: $b-top;
  border-right: $b-right;
  border-bottom: $b-bottom;
  border-left: $b-left;
  border: $b-total;
  border-radius: $b-radius;
  border-style: $b-tipo;
  border-color: $b-cor;
}

@mixin TamanhoMargin($m-top: null, $m-right: null, $m-bottom: null, $m-left: null){
  margin-top: $m-top;
  margin-right: $m-right;
  margin-bottom: $m-bottom;
  margin-left: $m-left;
}

@mixin TamanhoPadding($p-top: null, $p-right: null, $p-bottom: null, $p-left: null){
  padding-top: $p-top;
  padding-right: $p-right;
  padding-bottom: $p-bottom;
  padding-left: $p-left;
}

@mixin BackgroundFixed(){
  background: $backgroundRadial;
  background-attachment: fixed;
}

@mixin container($tamanhoPorcento, $height: 100%){
  height: ($height);
  width: $tamanhoPorcento;
}


@function stripUnit($value){
  @return $value / ($value * 0 + 1);
}

@mixin fluidType($minVw, $maxVw, $minFontSize, $maxFontSize){
  $primeiraUnidade : unit($minVw);
  $segundaUnidade : unit($maxVw);
  $terceiraUnidade : unit($minFontSize);
  $quartaUnidade : unit($maxFontSize);

  @if $primeiraUnidade == $segundaUnidade and $primeiraUnidade == $terceiraUnidade and $primeiraUnidade == $quartaUnidade {
        &{
          font-size: $minFontSize;
          @media screen and (min-width: $minVw) {
            font-size: calc(#{$minFontSize} + #{stripUnit($maxFontSize - $minFontSize)} * ((100vw - #{$minVw}) / #{stripUnit($maxVw - $minVw)}));
          }
          @media screen and (min-width: $maxVw) {
            font-size: $maxFontSize;
        }
      }
    }
  }
